.env
practica.pdf
__pycache__
linkedin_cookies.json
resultados.csv
resultados_LinkedIn.csv
.venv
*.csv
instagram_cookies.json
facebook_cookies.json
*.json
nlp_outputs/
images/
*db
reporte_linkedin_deepseek.txt